{% extends 'main.html' %}
{% block title  %}Авторизация{% endblock %}
{% block content  %}


<div style="display: flex; width: 1200px; margin: auto; font-size: 12px">
    <div style="width: 50%">
        {% include 'panel/menu.html' %}
        {% for task in task_list %}
        {% if task.AssignedUser.Email == request.session.email or role == 1 %}
        <div class="hide" id="id{{task.AssignedUser.id}}" style="border: 3px solid #000; border-radius: 15px; display: flex; padding: 10px">

            <div style="width: 60%">
                <p>{{task.Title}}</p>
                <p>{{task.Description}}</p>
                 <p>Ответственный: {{task.AssignedUser}}</p>
            </div>
            <div style="width: 40%">
                <p>Приоритет: P{{task.Priority}}</p>
                <p>

                      {% if now|date:"U" > task.End|date:"U" %}
                Статус: Проcрочено
            {% else %}

                  {% if task.Status == '0' %}

                     <form action="/start_task/" method="post">
                        {% csrf_token %}
                         <input type="hidden" name="id_task" value="{{task.id}}">
                         <input type="hidden" name="id_team" value="{{id}}">
                        Статус: Не начата <button>Начать</button>
                    </form>
                    {% endif %}
                    {% if task.Status == '1' %}
                     <form action="/stop_task/" method="post">
                        {% csrf_token %}
                         <input type="hidden" name="id_task" value="{{task.id}}">
                         <input type="hidden" name="id_team" value="{{id}}">
                        Статус: Запущена<button>Остановить</button>
                    </form>
                        {% endif %}
                        {% if task.Status == '2' %}
                           Статус:  <span style="color: green">Выполнена</span>
                        {% endif %}
                    {% endif %}
                </p>
                <p>Время: {{task.Start|date:'Y-m-d H:i'}} - {{task.End|date:'Y-m-d H:i'}}</p>
            </div>
            <span>
                <form action="/deleteitemidc/" method="post">
                    {% csrf_token %}
                     <input type="hidden" name="id_task" value="{{task.id}}">
                         <input type="hidden" name="id_team" value="{{id}}">
                    <button>X</button>
                </form>
            </span>
        </div><br />


        {% endif %}

        {% endfor %}
        <br />
        {% if role == 1 %}
        <div class="form_addd">
            <form method="post" class="show_b1">
                {% csrf_token %}
                <div style="display: flex; width: 100%">
                     <div style="width: 45%">
                         <p>Введите название задачи<br />{{ form.Title }}</p>
                        <p>Введите описание задачи {{ form.Description }}</p>
                        <p>Установите приоритет: {{ form.Priority }}</p>
                    </div>
                    <div style="width: 55%; margin-left: 45px;">
                        <p align="center" style="text-align: right;"><button class="vvffff">Создать задачу</button></p>
                        <br /><br /><br /><br /><br /><br /><br /><br />
                        <p>Установите время:</p>
                        <p>Начало {{ form.Start }}</p>
                        <p>Конец {{ form.End }}</p>
                         <p>AssignedUser
            <select name="AssignedUser" required="" id="id_AssignedUser">
                {% for i in team_all %}
                <option value="{{i.user.id}}">{{i.user.LastName}} {{i.user.FirstName}} </option>
                {% endfor %}
            </select>
    </p>

                    </div>
                </div>



            </form>
        </div>

{% endif %}
    </div>
     <div style="width: 30%">
        <br /><br /><br /><br />
        <div style="width: 80%;margin: auto"><canvas id="taskCompletionChart"></canvas></div>
    </div>
     <div style="width: 20%; border: 3px solid #000; border-radius: 15px; padding: 5px">
        <h2 >Команда: {{team.TeamName}}</h2>
         <ul style="padding: 0">
             {% for i in team_all %}
             <li style="padding-bottom: 10px">{{i.user.LastName}} {{i.user.FirstName}} ({{i.role.role}})<br />
             <a href="#" onclick="selectuser({{i.user.id}})">Просмотреть задачи</a>
             </li>
             {% endfor %}
         </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('taskCompletionChart').getContext('2d');



    var data = {
        labels: ['Не начата', 'Запущена', 'Выполнена'],
        datasets: [{
            data: [{{task_1}}, {{task_2}}, {{task_3}}],
            backgroundColor: ['#f00', '#00f', '#0f0'],
        }],
    };

    var options = {
        legend: {
            display: true,
            position: 'bottom',
        },
    };

    var taskCompletionChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        options: options,
    });
});

        function selectuser(id){
            $('.hide').hide();
            $('#id'+id).show();
        }
    </script>
{% endblock %}