{% extends 'main.html' %}
{% block title  %}Главная страница{% endblock %}
{% block content  %}

<div class="flex_main">
    <div class="flex_main_item">
        <p>SliceTheDay - это новый подход к управлению временем.</p>
        <p>Составьте план на день, управляйте рабочим временем сотрудников, отслеживайте статус задач - всё это в сервисе SliceTheDay.</p>
        <div class="btn_main">
            <a href="/reg/">зарегистрироваться</a>
             <a href="/auth/">войти</a>
        </div>
    </div>
    <div class="flex_main_item">
        <img src="/static/img/lk.png" width="100%">
    </div>
</div>

    <!--<div style="width: 200px;margin: auto"><canvas id="taskCompletionChart"></canvas></div>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('taskCompletionChart').getContext('2d');

    var completedTasksCount = {{ completed_tasks_count }};
    var remainingTasksCount = {{completed_tasks_count_2}} - completedTasksCount;

    var data = {
        labels: ['Выполнено', 'Невыполнено'],
        datasets: [{
            data: [completedTasksCount, remainingTasksCount],
            backgroundColor: ['#36A2EB', '#FFCE56'],
        }],
    };

    var options = {
        legend: {
            display: true,
            position: 'bottom',
        },
    };

    var taskCompletionChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        options: options,
    });
});

    </script>
{% endblock %}