<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/app.css" >
    <script src="/static/js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <header class="header">
        <h2 align="center" class="hh_text">SliceTheDay
            <img src="/static/img/graph.png" width="44px">
        </h2>
        <ul class="menu">
             <li>
                <a {% if request.path == '/' %} class="active"{% endif %} href="/">
                    Главная
                </a>
            </li>
            <li>
                <a {% if request.path == '/subscribers/' %} class="active"{% endif %}  href="{% url 'subscribers' %}">
                    Подписка
                </a>
            </li>
             <li>
                <a {% if request.path == '/reviews/' %} class="active"{% endif %} href="{% url 'reviews' %}">
                    Отзывы
                </a>
            </li>
             <li>
                <a {% if request.path == '/panel/' or request.path|slice:'-1' == '/command/' or request.path == '/commandtask/'  %} class="active"{% endif %} href="{% url 'panel' %}">
                    Личный кабинет
                </a>
            </li>

        </ul>
    </header>
    <main class="content">
    {% block content %} {% endblock %}
    </main>
    <footer class="footer">
       <center> <p align="center">SliceTheDay 2023</p></center>
    </footer>
</body>
</html>