{% extends 'main.html' %}
{% block title  %}Подписка{% endblock %}
{% block content  %}
<style>
    ul{
            padding: 5px 10px;
            display: block;
            list-style: none;
            text-align: center;
            font-weight: bold;
        }
        ul li{
            margin-top: 10px;
        }
</style>
<div class="content_1">
    <div class="cont_item_1">
        <div class="rel_item_gg">
                <h2>Базовая</h2>
                <div class="fle_fl">
                   <div>Личное использование</div>
                   <div>
                       <img src="/static/img/ok.png" width="20px">
                   </div>
                </div>
                <div class="fle_fl">
                   <div>Вступление в команды</div>
                   <div>
                       <img src="/static/img/ok.png" width="20px">
                   </div>
                 </div>
				 <div class="fle_fl">
                   <div>Создание команд</div>
                   <div>
                       <img src="/static/img/no.png" width="20px">
                   </div>
                 </div>
				<div class="fle_fl">
                   <div>Поддержка</div>
                   <div>
                       <img src="/static/img/ok.png" width="20px">
                   </div>
                 </div>
               <button class="btd_pod">499 Р / Месяц</button>
		</div>
		
		<div class="rel_item_gg">
                <h2>Премиум</h2>
                <div class="fle_fl">
                   <div>Личное использование</div>
                   <div>
                       <img src="/static/img/ok.png" width="20px">
                   </div>
                </div>
                <div class="fle_fl">
                   <div>Вступление в команды</div>
                   <div>
                       <img src="/static/img/ok.png" width="20px">
                   </div>
                 </div>
				 <div class="fle_fl">
                   <div>Создание команд (до 5)</div>
                   <div>
                       <img src="/static/img/ok.png" width="20px">
                   </div>
                 </div>
				<div class="fle_fl">
                   <div>Поддержка</div>
                   <div>
                       <img src="/static/img/ok.png" width="20px">
                   </div>
                 </div>
               <button class="btd_pod">899 Р / Месяц</button>
		</div>
		
		<div class="rel_item_gg">
                <h2>Бизнес</h2>
                <div class="fle_fl">
                   <div>Личное использование</div>
                   <div>
                       <img src="/static/img/ok.png" width="20px">
                   </div>
                </div>
                <div class="fle_fl">
                   <div>Вступление в команды</div>
                   <div>
                       <img src="/static/img/ok.png" width="20px">
                   </div>
                 </div>
				 <div class="fle_fl">
                   <div>Создание команд<br />(неограниченно)</div>
                   <div>
                       <img src="/static/img/ok.png" width="20px">
                   </div>
                 </div>
				<div class="fle_fl">
                   <div>Поддержка <br />(личный менеджер)</div>
                   <div>
                       <img src="/static/img/ok.png" width="20px">
                   </div>
                 </div>
               <button class="btd_pod" style="margin-top: 100px">от 4999 Р / Месяц</button>
		</div>
		


</div>


{% endblock %}